* {
    padding: 0%;
    margin:0%;
    scroll-behavior: smooth;
}

/* BODY */
body {
/*   
   background-image: url(img/wallpaper-gelap.jpg);
   background-attachment: fixed;
   background-size: cover; */
   background-image: linear-gradient(black,rgb(61, 1, 1));
 

}

/* NAV BAR */
#navbar {
    background-color: black;
    top: 0;
    box-shadow: 0px 0px 10px white;
    width: 100%;
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
    
    
}
#navbar h1{
    float: left;
    color: white;
    padding-left: 10px;
    font-family: 'Acme', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 30px;
}
#navbar .judul2{
    padding-left: 10px;
    font-family: 'Acme', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 30px;
    color: rgb(194, 0, 0);
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: white;
}
#navbar ul{
    display: flex;
    justify-content: end;
    width: 100%;
    list-style: none;
    margin-right: 10px;
   
}


#navbar ul li a{
    color: white;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
 
}

#navbar ul li a:hover {
    color:rgb(255, 191, 0);
    cursor: pointer;
    transition: 0.5s all;
   
}
#navbar ul li .yt:hover{
    color: white;
    background-color: rgb(197, 0, 0);
    border-radius: 5px;
    transition: 0.5s;
}
/* home start */
#home{
    padding-top: 110px;
    width: 100%;
    height: 400px;
    display: flex;
    box-sizing:border-box ;
}
#home .foto{
    opacity: 0;
    width: 50%;
    padding-top: 300px;
    animation-name: foto;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

#home .foto img{
    overflow: hidden;
    width: 250px;
    height:250px;
    border-radius: 10px;

}
#home .foto img:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 60px red;
    cursor: pointer;
}
#home .desk{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    animation-name: desk;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
#home .desk .name{
    display: flex;
}
#home .desk .name .firstname{
    color:white;
    font-size: 60px;
}
#home .desk .name .secondname{
    padding-left: 10px;
    color: red;
    font-size: 60px;
}
#home .desk .isi{
    display: flex;
    width: 50%;
    text-align: left;
    font-size: 20px;
}
#home .desk .isi a{
    color: white;
}
/* home end */
/* About Start */
#about{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}
#about h2{
    color: white;
}
#about .desk{
    font-size: 20px;
    text-decoration: none;
    color: white;
    width: 700px;
    height: max-content;
}
#about #sosmed{
    padding-bottom: 50px;
    margin-top: 15px;
    display: flex;
}
#about #sosmed .icon{
    padding-left: 10px;
}
#about #sosmed .icon a i{
    margin-left: 10px;
}
#about a{
    color: white;
    font-size: 30px;
}
#about a i{
    color: white;
    font-size:30px;
}
#about a.wa i:hover{
    color: green;
    transition: 0.5s;
}
#about a.insta i:hover{
    color: rgb(255, 0, 85);
    transition: 0.5s;
}
#about a.tele i:hover{
    color: rgb(0, 191, 255);
    transition: 0.5s;
}
#about a.git i:hover{
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    transition: 0.5s;
}

/* SKILL START */
#skill{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}
#skill h1{
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction:column;
}
.card h2{
    font-size: 40px;
    font-family: 'Bree Serif', serif;
    background-color: black;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    
}
.card h2:hover{
    transition: 0.5s;
    background-color: transparent;
    box-shadow: 1px 1px 15px white;
}
/* Skill end */
/* Footer start */
footer{
    background-color: black;
    width: 100%;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}
footer a{
    color: white;
    font-size: 20px;
}
/* Animasi Home Start*/
@keyframes desk {
    from{
        opacity: 0;
        padding-left: 0px;
    
    }
    to{
        opacity: 1;
        padding-left: 100px;
    }
    
}
@keyframes foto {
    from{
        opacity: 0;
        padding-top: 200px;
    }
    to{
        opacity: 1;
        padding-top: 0px;
    }


}
/* Animaso Home End */