* {
    padding: 0%;
    margin:0%;
    scroll-behavior: smooth;
   
}

/* BODY */
body {
/*   
   background-image: url(img/wallpaper-gelap.jpg);
   background-attachment: fixed;
   background-size: cover; */
   background-image: linear-gradient(black,rgb(54, 53, 53));
 

}

/* NAV BAR */
#navbar {
    background-color: black;
    top: 0;
    box-shadow: 0px 0px 10px white;
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
    
    
}
#navbar h1{
    float: left;
    color: white;
    padding-left: 10px;
    font-size: 30px;
}
#navbar .judul2{
    padding-left: 10px;
    font-size: 30px;
    color: rgb(194, 0, 0);
    /* -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: white; */
}
#navbar ul{
    display: flex;
    justify-content: end;
    width: 100%;
    list-style: none;
    margin-right: 10px;
   
}


#navbar ul li a{
    color: white;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
 
}

#navbar ul li a:hover {
    color:rgb(255, 191, 0);
    cursor: pointer;
    transition: 0.5s all;
   
}
#navbar ul li .yt:hover{
    color: white;
    background-color: rgb(197, 0, 0);
    border-radius: 5px;
    transition: 0.5s;
}
/* home start */
#home{
    padding-top: 110px;
    width: 100%;
    height: 400px;
    display: flex;
    box-sizing:border-box ;
    flex-wrap: wrap;
}
#home .foto{
    
    display: flex;
    width: 50%;
  
}

#home .foto img{
    opacity: 0;
    padding-top: 300px;
    animation-name: foto;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    overflow: hidden;
    margin-left: 100px;
    width: 350px;
    height:350px;
    border-radius: 10px;

}
#home .foto img:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 60px red;
    cursor: pointer;
}
#home .desk{
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
   
}
#home .desk .name{
    animation-name: desk;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    margin-top: 30px;
    display: flex;
}
#home .desk .name .firstname{
    color:white;
    font-size: 60px;
}
#home .desk .name .secondname{
    padding-left: 10px;
    color: red;
    font-size: 60px;
}
#home .desk .isi{
    animation-name: desk;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    display: flex;
    width: 50%;
    text-align: left;
    font-size: 20px;
}
#home .desk .isi a{
    font-size: 30px;
    color: white;
}
/* home end */
/* Contact */
#sosmed{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}
#sosmed .icon{
    padding-left: 10px;
}
#sosmed .icon a i{
    margin-left: 10px;
}
#sosmed a{
    color: white;
    font-size: 30px;
}
#sosmed a i{
    color: white;
    font-size:30px;
}
#sosmed a.wa i:hover{
    color: green;
    transition: 0.5s;
}
#sosmed a.insta i:hover{
    color: rgb(255, 0, 85);
    transition: 0.5s;
}
#sosmed a.tele i:hover{
    color: rgb(0, 191, 255);
    transition: 0.5s;
}
#sosmed a.git i:hover{
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    transition: 0.5s;
}
/* Contact End */
/* About Start */
#about{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}
#about h2{
    color: white;
}
#about .desk{
    font-size: 20px;
    text-decoration: none;
    color: white;
    width: 700px;
    height: max-content;
}


/* SKILL START */
#skill{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skill h3{
    color: white;
    font-size: 30px;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(59, 59, 59);
    flex-direction:column;
    display: flex;
    
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 15px;
    border-radius: 10px;
    
}
.card:hover{
    transition: 0.5s;
    background-color: transparent;
    box-shadow: 1px 1px 15px red;
}
.card .head h4{
    font-size: 30px;
    color: white;
}
.card .head{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.card .head i{
    margin-right: 5px;
    color: white;
    font-size: 30px;
}
.card a{
    margin: 10px;
    color: white;
}

/* Skill end */
/* Footer start */
footer{
    background-color: black;
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
footer a{
    color: white;
    font-size: 20px;
}
/* Animasi Home Start*/
@keyframes desk {
    from{
        opacity: 0;
        margin-left: 0px;
    
    }
    to{
        opacity: 1;
        margin-left: 100px;
    }
    
}
@keyframes foto {
    from{
        opacity: 0;
        padding-top: 200px;
    }
    to{
        opacity: 1;
        padding-top: 0px;
    }


}
/* Animaso Home End */